*.retry
*.swp

# Certs
*.pem

.vscode
vendor
.idea

# Vagrant
.vagrant

# Kube admin file
provisioning/admin.conf

provisioning/ansible_collections/*

k8s/cert-manager/cert-manager-clusterissuer.yml

.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
